.container {
    background-color: #3e3e3e;
    width: 100%;
    height: auto;
}

.logo {
    text-align: center;
}

#logoLam {
    height: 100px;
}

body {
    background-color: white;
    height: auto;
    margin: 0;
}

.carousel-container{
    top: 0.5%;
    width: 900px;
    margin: auto;
    margin-top: 20px;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 500px;
    
}

.carousel-slide img{
    width: 100%;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;

}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;

}

.second-container {
    margin-top: 20px;
    background-color: #3e3e3e;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.webxr-container {
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    padding: 2px;
    width: 800px;
    height: 600px;

}

.webxr-informatie {
    background-color: #AAAAAA;
    width: 800px;
    height: auto;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}

.balk {
    background-color: black;
    margin: 0%;
    height: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
}

.contact {
    color: white;
    width: 172px;
    margin-left: auto;
    margin-right: 100px;
}

#overons {
    color: white;
    margin-right: 100px;
    margin-left: 100px;
}

#directnaar {
    color: white;
    margin-left: 100px;
    margin-right: auto;
}

#lijst_over {
    list-style: none;
    padding: 0;
}

#lijst_direct {
    list-style: none;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: white;
}
  
a:visited {
    text-decoration: none;
    color: white;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

#list_direct1 {
    height: 30px;
}

#list_direct2 {
    height: 30px;
}

#list_direct3 {
    height: 30px;
}

#list_direct4 {
    height: 30px;
}

#list_over1 {
    height: 30px;
}

#list_over2 {
    height: 30px;
}

#list_over3 {
    height: 30px;
}

#list_over4 {
    height: 30px;
}

@font-face {
    font-family: "myFont";
    src: url("../font/Brother1816-Regular.woff") format('woff');
}

div {
    font-family: myFont;
}